    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About LCC Learning Communities</h2>
              <br/>
                <p>The concept of "learning communities" at Lower Colmbia College began in the late 1980's under the direction of retired LCC philosophy instructor Jerry Zimmerman. Since then, the program has grown to include Integrated Studies and I-Trans courses taught by instructors representing many of LCC's academic programs. For more, see <a href="http://tdn.com/news/local/retiring-lcc-instructor-zimmerman-introduced-new-way-of-teaching/article_37934090-b03f-11e1-81dd-0019bb2963f4.html" target="_blank">this 2012 story</a> from <i>The Daily News</i> on how and why Zimmerman and his colleagues introduced this effective method of teaching at LCC.</p>
                <br/>
              </div>
        </div>
    </section>
